*
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}
.home-bg {
  background-image: url("home.jpg");
}
p {
    align-content: center;
}
/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.8);
  text-align: center;
  padding: 15px;
  z-index: 1000;
}
.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #f4c10f;
}

/* PARALLAX */
.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg1 {
  background-image: url("image1.jpg");
}

.bg2 {
  background-image: url("image2.jpg");
}

.bg3 {
  background-image: url("image.jpg");
}

.caption h1 {
  color: white;
  background: rgba(0,0,0,0.6);
  padding: 20px;
  letter-spacing: 4px;
}

/* CONTENT SECTIONS */
.content {
  padding: 80px 40px;
  text-align: center;
}

.content h2 {
  margin-bottom: 20px;
  font: 12px;
  font-family: Times New Roman;
  
}
.profile-section {
    max-width: 1000px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}

/* Name at the top */
.profile-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555;
}

/* Image + text side by side */
.profile-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* Image styling */
.profile-image img {
    width: 300px;
    height: 400px;
    border-radius: 6px;
}

/* Text styling */
.profile-text {
    flex: 1;
}

.profile-text p {
    margin: 0;
    line-height: 1.7;
    color: #666;
}


form {
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

#button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 0px 30px;
}

#button:hover {
    background-color: #45a049;
    
}

/* MAP */
iframe {
  width: 100%;
  height: 300px;
  border: none;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}
/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .navbar a {
    display: block;
    margin: 10px 0;
  }

  .caption h1 {
    font-size: 24px;
  }

  .content {
    padding: 60px 20px;
  }
}